.header {
  padding: 96px 0 77px;
  background: var(--white);
}

.header__title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 64px;
  color: var(--black);
}

.header_inner {
  padding: 0;
  height: 82px;
  background-color: var(--white);
}
