* {
  color: white;
}

body {
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

header {
  text-align: center;
  background-color: red;
}

nav {
  background-color: orange;
}

nav > ul {
  list-style: none;
  margin: 0;
  padding: 0.5rem;
}

nav > ul > li {
  display: inline-block;
  margin-right: 5px;
}

nav > ul > li:last-child {
  margin-right: 0;
}

main {
  padding: 0.5rem;
  background-color: green;
}

main article {
  background-color: blue;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

main article:last-child {
  margin-bottom: 0;
}

main article h2 {
  padding-top: 1rem;
  margin-bottom: 1rem;
}

article ul,
article ol {
  margin: 0;
  padding-left: 20px;
}

footer {
  background-color: darkviolet;
  text-align: center;
}
