@import '../fonts/fonts.css';

@import '../../components/page/page.css';
@import '../../components/container/container.css';
@import '../../components/header/header.css';
@import '../../components/preview/preview.css';
@import '../../components/footer/footer.css';
@import '../../components/inner-page/inner-page.css';
@import '../../components/component-preview/component-preview.css';
@import '../../components/menu/menu.css';
:root {
  --white: #ffffff;
  --black: #212429;
  --pink: #f784ad;
  --purple: #7048e8;

  --dark-purple: #5028c6;
  --blue: #4263eb;
  --dark-blue: #2342c0;
  --red: #f03d3e;
  --red-2: #d84910;
  --grey: #e5e5e5;
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;
  --grey-5: #f9fafc;

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --primary-hover: var(--dark-blue);
  --secondary: var(--purple);
  --secondary-hover: var(--dark-purple);

  --alternate: var(--grey);
}

* {
  font-family: 'Roboto', sans-serif;
}
