.menu {
  width: 229px;
}

.menu__title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--black);
  margin: 0 0 16px;
}

.menu > nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 30px;
}

.menu > nav > ul > li {
  margin-bottom: 4px;
}

.menu > nav > ul > li:last-child {
  margin-bottom: 0;
}

.menu__link {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--black);
}

.menu__link_active {
  color: var(--red-2);
}
